/* Base CSS stylings */
body {
  display: grid;
  place-items: center;
  background-color: #252627;
}

#root {
  width: 1440px;
  height: 982px;
  background-color: black;
  font-family: "Red Rose", cursive;
  color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  background-color: black;
}

.gradient {
  position: absolute;
  background: linear-gradient(161.65deg, #eb0cd5 -3.34%, #e52727 69.8%);
  border-radius: 50%;
  filter: blur(6rem);
}

.ball-1 {
  width: 342px;
  height: 342px;
  left: 1256px;
  top: -2px;
}

.ball-2 {
  width: 454px;
  height: 458px;
  left: 334px;
  top: 590px;
  filter: blur(8rem);
}

.ball-3 {
  width: 529px;
  height: 550px;
  left: 1123px;
  top: 1256px;
}

main {
  display: flex;
  flex-direction: column;
}

main>div {
  width: 100%;
  padding-inline: 2rem;
  overflow-y: scroll;
}

section {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% / 2.5);
  gap: 1.5rem;
  width: 1088px;
  overflow-x: scroll;
}

.carousel::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.heading {
  display: flex;
  width: 1088px;
  justify-content: space-between;
  gap: 10rem;
  align-items: center;
  isolation: isolate;
}

.heading a {
  text-decoration: none;
  font-size: 1rem;
}

.card {
  width: 373px;
  height: 319px;
  background: linear-gradient(306.18deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(255, 255, 255, 0.25) 100%);
  box-shadow: -24px 20px 20px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(12.5px);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card>div:nth-of-type(1) {
  padding: 1rem;
}

.card-description {
  display: flex;
  justify-content: space-between;
  margin-inline: 1rem;
  align-items: center;
}

.card-description h2 {
  font-size: 40px;
}

.card-description>div {
  width: 150px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50px;
  background: linear-gradient(180deg, #00f0ff 0%, #0075ff 100%);
}

.card-description>div button {
  width: 148px;
  height: 38px;
  background-color: black;
  color: white;
  border-radius: 50px;
  transition: all 0.3s ease-in;
}

.card-description>div button:hover {
  background-color: transparent;
}
.faq,.services,.setting  {
  width: 1000px;
  text-align: justify;
  line-break: strict;
} 
.carousel-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  width: 1088px;
}